.navApp {
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 20px;
  }
  
  #name {
    font-size: 25px;
  }
  
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(184, 174, 174);
  }
  
  
  
  .card-header {
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
  }
  
  .card-body {
    border-left: 5px solid gray;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
  }
  
  .aboutApp, .portfolioApp, .contactApp, html {
    background-color: rgb(184, 174, 174);
  }